flows/CadastroUBS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cadastro unidade básica de saúde</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertAcc</name>
        <label>InsertAcc</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <faultConnector>
            <targetReference>TelaFalha</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Cidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Rua</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CriadoPeloContato__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>Numero</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>CadastroUBS</name>
        <label>Cadastro unidade básica de saúde</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InsertAcc</targetReference>
        </connector>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <fieldText>Nome Unidade básica de saúde</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Endereco</name>
            <fieldText>Endereco</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endereco_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rua</name>
                    <dataType>String</dataType>
                    <fieldText>Rua</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cidade</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Endereco_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estado</name>
                    <dataType>String</dataType>
                    <fieldText>Estado</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaFalha</name>
        <label>TelaFalha</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Falha</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Erro ao realizar operação:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CadastroUBS</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
