flows/Criar_ambiente.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Coberto</name>
        <choiceText>Coberto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coberto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Descoberto</name>
        <choiceText>Descoberto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Descoberto</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Tipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo__c</picklistField>
        <picklistObject>Ambiente__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Criar ambiente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar ambiente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>TipoAmb</name>
        <label>TipoAmbiente</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Cobertura__c</field>
            <value>
                <elementReference>Cobertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprimento__c</field>
            <value>
                <elementReference>ComprimentoNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LarguraDimensao__c</field>
            <value>
                <elementReference>LarguraNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeDireito__c</field>
            <value>
                <elementReference>PedireitoNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UBS__c</field>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Ambiente__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterConta</name>
        <label>ObterConta</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaCriarAmbiente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TelaCriarAmbiente</name>
        <label>Criar ambiente</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipoAmb</targetReference>
        </connector>
        <fields>
            <name>TelaCriarAmbiente_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaCriarAmbiente_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UBS</name>
                    <fieldText>&lt;p&gt;{!ObterConta.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Cobertura</name>
                    <choiceReferences>Coberto</choiceReferences>
                    <choiceReferences>Descoberto</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cobertura</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaCriarAmbiente_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TipoAmbiente</name>
                    <choiceReferences>Tipo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dimenssoes</name>
            <fieldText>Dimenssões</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dimenssoes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LarguraNR</name>
                    <dataType>Number</dataType>
                    <fieldText>Largura</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>PedireitoNR</name>
                    <dataType>Number</dataType>
                    <fieldText>Pé direito</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dimenssoes_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComprimentoNR</name>
                    <dataType>Number</dataType>
                    <fieldText>Comprimento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
