flows/CriarUsuario.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Administrador</name>
        <choiceText>Administrador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Administrador</stringValue>
        </value>
    </choices>
    <choices>
        <name>AmbienteCoordenador</name>
        <choiceText>Ambiente ou Coordenador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ambiente ou Coordenador</stringValue>
        </value>
    </choices>
    <choices>
        <name>AmbienteouCoordenador</name>
        <choiceText>Ambiente ou Coordenador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AmbienteCoordenador</stringValue>
        </value>
    </choices>
    <choices>
        <name>DiretorSecretaria</name>
        <choiceText>Diretor da Secretaria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diretor da Secretaria</stringValue>
        </value>
    </choices>
    <choices>
        <name>GestorDepartamento</name>
        <choiceText>Gestor do Departamento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestor do Departamento</stringValue>
        </value>
    </choices>
    <choices>
        <name>TecnicoEngenheiroArquiteto</name>
        <choiceText>Técnico, Engenheiro ou Arquiteto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Técnico, Engenheiro ou Arquiteto</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Criar Usuário {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Usuário</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarUsuario</name>
        <label>CriarUsuario</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Senha__c</field>
            <value>
                <elementReference>Senha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Cargo</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterTodasContas</name>
        <label>ObterTodasContas</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarUsuarioTela</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parque da Fonte</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CriarUsuarioTela</name>
        <label>Criar usuário</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CriarUsuario</targetReference>
        </connector>
        <fields>
            <name>CriarUsuarioTela_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CriarUsuarioTela_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Telefone</name>
                    <dataType>String</dataType>
                    <fieldText>Telefone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CriarUsuarioTela_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sobrenome</name>
                    <dataType>String</dataType>
                    <fieldText>Sobrenome</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UBS</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>UBS</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>40.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ObterTodasContas.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CriarUsuarioTela_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CriarUsuarioTela_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CriarUsuarioTela_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CriarUsuarioTela_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Senha</name>
                    <dataType>String</dataType>
                    <fieldText>Senha</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CriarUsuarioTela_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cargo</name>
                    <choiceReferences>AmbienteCoordenador</choiceReferences>
                    <choiceReferences>TecnicoEngenheiroArquiteto</choiceReferences>
                    <choiceReferences>GestorDepartamento</choiceReferences>
                    <choiceReferences>DiretorSecretaria</choiceReferences>
                    <choiceReferences>Administrador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterTodasContas</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
