flows/Criar_esquadrias.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <dynamicChoiceSets>
        <name>TipoEsquadria</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo__c</picklistField>
        <picklistObject>Esquadrias__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Criar esquadrias {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar esquadrias</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_esquadria</name>
        <label>Criar esquadria</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Altura__c</field>
            <value>
                <elementReference>Altura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ambiente__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AreaIluminacao__c</field>
            <value>
                <elementReference>rea_ilumina_o</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AreaVentilacao__c</field>
            <value>
                <elementReference>AreaVentilacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Largura__c</field>
            <value>
                <elementReference>Largura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </inputAssignments>
        <object>Esquadrias__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_Ambiente</name>
        <label>Obter Ambiente</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarEsquadria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ambiente__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CriarEsquadria</name>
        <label>CriarEsquadria</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Criar_esquadria</targetReference>
        </connector>
        <fields>
            <name>CriarEsquadria_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CriarEsquadria_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ambiente</name>
                    <fieldText>&lt;p&gt;{!Obter_Ambiente.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Instalada_na_fachada</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Instalada na fachada?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Largura</name>
                    <dataType>Number</dataType>
                    <fieldText>Largura</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>AreaVentilacao</name>
                    <dataType>Number</dataType>
                    <fieldText>Área ventilação</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CriarEsquadria_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo</name>
                    <choiceReferences>TipoEsquadria</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Altura</name>
                    <dataType>Number</dataType>
                    <fieldText>Altura</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>rea_ilumina_o</name>
                    <dataType>Number</dataType>
                    <fieldText>Área iluminação</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Ambiente</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
