flows/DWIntegracaoConta.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>chamarClasseIntegracao</name>
        <label>chamarClasseIntegracao</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>DwAccountIntegrableBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obter_HttpRequest</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DwAccountIntegrableBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navegador_Conta</name>
        <label>navegador Conta</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigationObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>atribuir_campos_na_conta</name>
        <label>atribuir campos na conta</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descricao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeConta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarConta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>camposPreenchidos</name>
        <label>campos Preenchidos</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>TelaCamposVisualizacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campos_Faltantes</targetReference>
            </connector>
            <label>Nao</label>
        </rules>
    </decisions>
    <description>Fluxo criado para realizar a integração da conta</description>
    <environments>Default</environments>
    <interviewLabel>DW Integração Conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Integração Conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_HttpRequest</name>
        <label>Obter HttpRequest</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterNewUpdatedConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterConta</name>
        <label>ObterConta</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>camposPreenchidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterNewUpdatedConta</name>
        <label>ObterNewUpdatedConta</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessOrError</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarConta</name>
        <label>atualizarConta</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>AtualizarContaAntesIntegracao</targetReference>
        </connector>
        <inputReference>ObterConta</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AtualizarContaAntesIntegracao</name>
        <label>AtualizarContaAntesIntegracao</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navegador_Conta</targetReference>
        </connector>
        <fields>
            <name>ExibicaoIntegracao</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dados atualizados com sucesso, clique novamente no botão para realizar a integração.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Campos_Faltantes</name>
        <label>Campos Faltantes</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>atribuir_campos_na_conta</targetReference>
        </connector>
        <fields>
            <name>testeIntegracao</name>
            <fieldText>&lt;p&gt;Esse processo de integração é de teste, sendo assim verá que mesmo com o Erro, a integração será realizada com &lt;strong&gt;sucesso&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, verifique as chaves de acesso para a integração no Metadata, altere as classes Response, Request, o que for necessario para que a integração possa acontecer como esperado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CamposIntegracao</name>
            <fieldText>É necessário informar os campos abaixo para integrar a conta:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CamposIntegracao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NomeConta</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome da Conta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Descricao</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.Description</elementReference>
                    </defaultValue>
                    <fieldText>Descrição</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessOrError</name>
        <label>SuccessOrError</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navegador_Conta</targetReference>
        </connector>
        <fields>
            <name>AmbienteTeste</name>
            <fieldText>&lt;p&gt;Esse processo de integração é de teste, sendo assim verá que mesmo com o Erro, a integração será realizada com &lt;strong&gt;sucesso&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, verifique as chaves de acesso para a integração no Metadata, altere as classes Response, Request, o que for necessario para que a integração possa acontecer como esperado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_Integracao</name>
            <fieldText>Status Integração</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Status_Integracao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusIntegracao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ObterNewUpdatedConta.StatusIntegracao__c} -{!ObterNewUpdatedConta.ContaIntegrada__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Legenda</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Legenda Status Integração&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;Não Integrada 🟥 = Tentativa de integração &apos;nova&apos; com ERP falhou.&lt;/p&gt;&lt;p&gt;Integrada ✅ = Integrou com sucesso.&lt;/p&gt;&lt;p&gt;Não integrado◼️= O registro não foi integrado com o ERP.&lt;/p&gt;&lt;p&gt;Não integrado🔄= O registro já foi integrado e esta disponivel para atualização no ERP.&lt;/p&gt;&lt;p&gt;Ocorreu erro ao integrar ⚠️= Tentativa de integração com o registro já integrado com ERP falhou.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Requisicao</name>
            <fieldText>Requisição</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Requisicao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>respostaRequisicao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Requisição:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Obter_HttpRequest.RequestBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResultadoAPI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Obter_HttpRequest.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaCamposVisualizacao</name>
        <label>TelaCamposVisualizacao</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>chamarClasseIntegracao</targetReference>
        </connector>
        <fields>
            <name>integracaoPacote</name>
            <fieldText>&lt;p&gt;Esse processo de integração é de teste, sendo assim verá que mesmo com o Erro, a integração será realizada com &lt;strong&gt;sucesso&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, verifique as chaves de acesso para a integração no Metadata, altere as classes Response, Request, o que for necessario para que a integração possa acontecer como esperado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campos_que_ser_o_levados_a_integra_o</name>
            <fieldText>Campos que serão levados a integração</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Campos_que_ser_o_levados_a_integra_o_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campos</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nome&lt;/strong&gt;: {!ObterConta.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Descrição:  &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ObterConta.Description}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
