flows/FL_Create_Ambiente_Create_response.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>attrRespostaList</name>
        <label>attrRespostaList</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>respostaList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Resposta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuestionario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrTotalResposta</name>
        <label>attrTotalResposta</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>totalResposta</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>respostaList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarAmbiente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RespostaLoop</name>
        <label>RespostaLoop</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Resposta.Ambiente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resposta.Pergunta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuestionario.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>attrRespostaList</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FL  Create Ambiente (Create response) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL  Create Ambiente (Create response)</label>
    <loops>
        <name>loopQuestionario</name>
        <label>loopQuestionario</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Obter_Questionario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RespostaLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>criarRespostas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>criarRespostas</name>
        <label>criarRespostas</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>attrTotalResposta</targetReference>
        </connector>
        <inputReference>respostaList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obter_Questionario</name>
        <label>Obter Questionario</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQuestionario</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Categoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ambiente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questionario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarAmbiente</name>
        <label>atualizarAmbiente</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>QuantidadeResposta__c</field>
            <value>
                <elementReference>totalResposta</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Questionario</targetReference>
        </connector>
        <object>Ambiente__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Resposta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resposta__c</objectType>
    </variables>
    <variables>
        <name>respostaList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resposta__c</objectType>
    </variables>
    <variables>
        <name>totalResposta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
