flows/Fl_deletar_conta.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>verificar_respostas_ambiente</name>
        <label>verificar respostas ambiente</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>excluirResposta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>respostas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obter_Respostas_ambiente_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>excluir_obter_Respostas_ambiente_delete</targetReference>
            </connector>
            <label>respostas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fl deletar conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fl deletar conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>excluir_obter_Respostas_ambiente_delete</name>
        <label>excluir obter_Respostas_ambiente_delete</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>excluirResposta</targetReference>
        </connector>
        <inputReference>obter_Respostas_ambiente_delete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>excluirResposta</name>
        <label>excluirResposta</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputReference>ObterRespostas</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>obter_Respostas_ambiente_delete</name>
        <label>obter Respostas ambiente delete</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>verificar_respostas_ambiente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FormulaUnidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Resposta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRespostas</name>
        <label>ObterRespostas</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obter_Respostas_ambiente_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resposta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterRespostas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
