flows/teteetet.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_email</name>
        <label>enviar_email</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InitialTela</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>&quot;Recuperação de login&quot; - {!TentarObter_contato_esquecido.Email} - UBS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>recuperacaoEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>atribMsg</name>
        <label>atribMsg</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>msgFlow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decisao_Criar_Conta_Nova</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribuirMsg</name>
        <label>atribuirMsg</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>msgFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>já existe esse email cadastrado.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InitialTela</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atriburMsgVazio</name>
        <label>atriburMsgVazio</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>msgFlow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>NaoFoiencontrado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrAcessoContato</name>
        <label>attrAcessoContato</label>
        <locationX>644</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>ObterContato.UltimoAcesso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>msgFlow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterContato.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarCt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ListEmails</name>
        <label>ListEmails</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>telaAuth_0.usuario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>msgFlow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>enviar_email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Criar_Conta_NovaBT</name>
        <choiceText>Primeiro acesso?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Criar Conta Nova</stringValue>
        </value>
    </choices>
    <choices>
        <name>Esqueci_meu_Usuario_Senha</name>
        <choiceText>Esqueci minha senha.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Esqueci meu Usuario/Senha</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decisao_Criar_Conta_Nova</name>
        <label>Decisao Criar Conta Nova</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ObterContato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TentarAcessar</defaultConnectorLabel>
        <rules>
            <name>SimCNovaConta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>telaAuth_0.escolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criar Conta Nova</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterContatoWithEmail</targetReference>
            </connector>
            <label>SimCNova</label>
        </rules>
        <rules>
            <name>EsqueciSenhaUsuarioConta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>telaAuth_0.escolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Esqueci meu Usuario/Senha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TentarObter_contato_esquecido</targetReference>
            </connector>
            <label>EsqueciSenhaUsuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>encontrouConta</name>
        <label>encontrouConta</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>atriburMsgVazio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NãoEncontrado</defaultConnectorLabel>
        <rules>
            <name>SimEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TentarObter_contato_esquecido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarEmail</targetReference>
            </connector>
            <label>SimEncontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteContato</name>
        <label>ExisteContato</label>
        <locationX>776</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>DW_Tela_Auth_N_o_encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterContato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>attrAcessoContato</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>existeContatoCriacao</name>
        <label>existeContato</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Criar_Contato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>simCriacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterContatoWithEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribuirMsg</targetReference>
            </connector>
            <label>simCriacao</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>bemvindoAUTH</name>
        <dataType>String</dataType>
        <expression>&apos;Seja bem vindo &apos;+{!ObterContato.Name}</expression>
    </formulas>
    <interviewLabel>tete {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Tela de Autenticação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_Contato</name>
        <label>Criar Contato</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>ObterContato</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Tela_Erro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>telaAuth_0.usuario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>telaAuth_0.usuario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>telaAuth_0.primeironome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>telaAuth_0.ultimonome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Senha__c</field>
            <value>
                <elementReference>telaAuth_0.senha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>telaAuth_0.cargo</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterContato</name>
        <label>ObterContato</label>
        <locationX>776</locationX>
        <locationY>1232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteContato</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <elementReference>telaAuth_0.usuario</elementReference>
            </value>
        </filters>
        <filters>
            <field>Senha__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>telaAuth_0.senha</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Criar_Contato</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContatoWithEmail</name>
        <label>ObterContatoWithEmail</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existeContatoCriacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>telaAuth_0.usuario</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TentarObter_contato_esquecido</name>
        <label>TentarObter contato esquecido</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>encontrouConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <elementReference>telaAuth_0.usuario</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarCt</name>
        <label>AtualizarCt</label>
        <locationX>644</locationX>
        <locationY>1556</locationY>
        <connector>
            <targetReference>Tela_dp_AuTH</targetReference>
        </connector>
        <inputReference>ObterContato</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DW_Tela_Auth_N_o_encontrado</name>
        <label>DW Tela Auth Não encontrado</label>
        <locationX>908</locationX>
        <locationY>1448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InitialTela</targetReference>
        </connector>
        <fields>
            <name>msgErro</name>
            <fieldText>&lt;p&gt;Não foi encontrado nenhum usuario/email e senha com as informações enviadas.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Usuario/Email:&lt;/strong&gt; {!telaAuth_0.usuario}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Senha: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!telaAuth_0.senha}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A proxima tela será a tela de autenticação.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sugestão : Selecione a opção esquecer senha ou crie um novo usuario ou entre em contato com o seu Coordenador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnviarEmail</name>
        <label>EnviarEmail</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ListEmails</targetReference>
        </connector>
        <fields>
            <name>emailSenha</name>
            <fieldText>&lt;p&gt;Foi encontrado seus dados &lt;strong&gt;{!TentarObter_contato_esquecido.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Você receberá no email &lt;strong&gt;{!TentarObter_contato_esquecido.Email}&lt;/strong&gt; os seus dados de autenticação.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InitialTela</name>
        <label>InitialTela</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>atribMsg</targetReference>
        </connector>
        <fields>
            <name>telaAuth_0</name>
            <extensionName>c:loginComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>msgAviso</name>
                <value>
                    <elementReference>msgFlow</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NaoFoiencontrado</name>
        <label>NaoFoiencontrado</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InitialTela</targetReference>
        </connector>
        <fields>
            <name>NaoFoiEncontradoScreen</name>
            <fieldText>&lt;p&gt;Não foi encontrado nenhum usuario existente com os dados que inseriu:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt; {!telaAuth_0.usuario}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_dp_AuTH</name>
        <label>Tela Inicio AuTH</label>
        <locationX>644</locationX>
        <locationY>1664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Tela_dp_AuTH_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tela_dp_AuTH_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BemVindo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(54, 155, 202); font-size: 24px;&quot;&gt;O que vamos fazer hoje&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!ObterContato.Title} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!ObterContato.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tela_dp_AuTH_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>imgLoggoutExb</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!imgLoggout}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AutenticadoLWC</name>
            <extensionName>c:loginComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ObterContato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>msgAviso</name>
                <value>
                    <elementReference>bemvindoAUTH</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tela_Erro</name>
        <label>Tela Erro</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InitialTela</targetReference>
        </connector>
        <fields>
            <name>Erro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 3, 3);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DesejarTentarNovamente</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Desejar tentar novamente?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitialTela</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>recuperacaoEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Segue seus dados de autenticação: Email: {!TentarObter_contato_esquecido.Email}
Senha: {!TentarObter_contato_esquecido.Senha__c}</text>
    </textTemplates>
    <textTemplates>
        <name>teste</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;teste&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imgLoggout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;https://daspeweb-e-dev-ed.develop.my.site.com/s/&quot; target=&quot;_self&quot;&gt;&lt;img src=&apos;/resource/loggout&apos; width=&apos;20px&apos; height=&apos;20px&apos;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>msgFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
